{% extends './base.html' %}
{% block content %}
<h2>Ingredient List</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Price Per Unit</th>
        <th></th>
        <th></th>
    </tr>
    {% for ingredient in ingredient_list %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.price_per_unit }}</td>
        <td><a href="{% url 'ingredientupdate' ingredient.id %}">Edit</a></td>
        <td><td><a href="{% url 'ingredientdelete' ingredient.id %}">Delete</a></td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}